[flake8]
max-line-length = 120
ignore = E203,W503,W504,F841
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
per-file-ignores =
    app/agents/*.py:E501
    app/tools/**/*.py:F841